
body{
	background-image: url("../images/background4.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
}

div {
	background-color: white;
	margin: 10px;
	border: solid 2px antiquewhite;
	padding: 10px;
}

.header{
	background-color: yellow;
	color: blue;
	width: 100%;
}
.instructions {
	background-color: black;
	color: white;
	width: 50%;
	height: 25%;
}


.userTotal{
	width: 15%;
	height: 60px;
}
.food {
	clear: both;
	width: 100%;
	background-color: gold;
}
.foodimage{
	height: 25%;
	width: 20%;
	margin: 10px;
	border-bottom-color: black;
	border: 5%;

}
.match {
	
	float: right;
	margin: 10px 10px 10px 10px;
	
}

.playerbutton {
	float: right;
	margin: 10px;
}

.winsAndLosses {
	background-color: royalblue;
	color: gold;
	
}

.playerbutton, .match {
	background-color: black;
	color: whitesmoke;

	
}